* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    width: 400px;
    padding: 30px;
    text-align: center;
}

h1 {
    font-size: 24px;
    color: #512da8;
    margin-bottom: 20px;
}

p {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
}

input {
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

button {
    background-color: #512da8;
    color: #fff;
    font-size: 14px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #6a4dc1;
}

a {
    display: inline-block;
    margin-top: 20px;
    font-size: 13px;
    color: #333;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px 15px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: rgba(255, 255, 255, 0.9);
    text-decoration: underline;
}

.password-display {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.password-display label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.password-display input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #555;
    background-color: #f9f9f9;
    cursor: not-allowed; /* Karena readonly */
}
